@media screen and (max-width: 1560px) {
    .main__content-title {
        text-align: center;
    }
    .slider .logo {
        left: 150px;
    }
}
@media screen and (max-width: 1380px) {
    .slider .logo {
        left: 100px;
    }
}
@media screen and (max-width: 1272px) {
    .logo {
        left: 0 !important;
    }
    .classes__block {
        justify-content: center;
    }
    .left__block {
        align-items: center;
        text-align: center;
    }
    .right__block {
        padding-top: 30px;
        &-section:last-child {
            border-right: 1px solid #c6c6c6;
        }
    }
    .future__classes {
        align-items: center;
        text-align: center;
        flex-direction: column;
    }
}
// @media screen and (max-width: 1187px) {
//     .left__block {
//         align-items: center;
//         text-align: center;
//     }
//     .right__block {
//         padding-top: 30px;
//     }
//     .future__classes {
//         align-items: center;
//         text-align: center;
//         flex-direction: column;
//     }
// }

@media screen and (max-width: 1031px) {
    .header {
        height: 0;
        &__menu {
            top: 0;
            display: block;
            position: absolute;
            visibility: hidden;
            left: -100%;
            width: 320px;
            height: 100%;
            padding: 60px 0;
            background-color: #EBEBEB;
            box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
            transition-duration: .25s;
        }
        &__menu li {
            padding: 12px 24px;
        }
    }
    .menu__btn {
        display: flex;
        align-items: center;
        position: absolute;
        top: 30px;
        right: 40px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 3;
    }
    .header__menu li:hover {
        background-color: #CFD8DC;
    }
}

@media screen and (max-width: 819px) {
    .right__block-section {
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: none;
    }
    .right__block-section:last-child {
        border: none;
    }
    .block-title {
        text-align: center;
    }
    .block-text {
        max-width: 263px;
    }
}
@media screen and (max-width: 361px) {
    .quote__text {
        font-size: 28px;
    }
    .left__block-price {
        font-size: 32px;
    }
    .future__classes-info {
        font-size: 22px;
    }
    .classes__title {
        font-size: 28px;
    }
    .report__title {
        font-size: 28px;
    }
    .report__consulting-title {
        font-size: 28px;
    }
    .clients__title {
        font-size: 28px;
    }
    .footer__contacts-title {
        font-size: 28px;
    }
}
@media screen and (max-width: 361px) {
    .left__block {
        padding: 10px;
    }
}