@import "global";
@import "fonts";


.container {
    max-width: 1920px;
    margin: 0 auto;
}

.header {
    position: fixed;
    height: 100px;
    background-color: #fff;
    z-index: 2;
    width: 100%;
    &__menu {
        position: relative;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        color: #3c3c3b;
    }
    li {
        position: relative;
        font-size: 21px;
        margin: 10px;
    }
    li:hover:after {
        content: '';
        bottom: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 2px;
        background: #3c3c3b;
        transition: all .5s ease-in-out;
    }
}

//BURGER MENU START
#menu__toggle {
    opacity: 0;
}
#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}
#menu__toggle:checked ~ .header__menu {
    visibility: visible;
    left: 0;
}
.menu__btn {
    display: none;
    align-items: center;
    position: relative;
    top: 30px;
    right: 40px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 3;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition-duration: .25s;
}
.menu__btn > span::before {
    content: '';
    top: -8px;
}
.menu__btn > span::after {
    content: '';
    top: 8px;
}
.header__menu {
    z-index: 2;
    display: flex;  
    position: relative;
    outline: none;  
    margin: 15px 0;
    list-style: none;
    transition-duration: .25s;
}
.header__menu li {
    display: block;
    font-size: 20px;
    line-height: 23px;
    text-decoration: none;
    transition-duration: .25s;
}
//BURGER MENU END

//SECTION SLIDER START
.slider {
    &-block img {
        width: 100%;
        display: block;
        margin: 0px;
    }
    // .logo {
    //     position: absolute;
    //     top: 300px;
    //     left: 250px;
    //     z-index: 1;
    // }
    // .logo img {
    //     width: 100%;
    // }
}
.content_slider {
    padding-top: 100px;
	width: 100%;
	overflow: hidden;
}
.gallery_content {
	overflow: hidden;
	margin-left: -170px;
}
.gallery_item {
	float: left;
	overflow: hidden;
	vertical-align: top;
	margin-left: -2px;
	-webkit-transition: width 500ms;
	-moz-transition: width 500ms;
	-o-transition: width 500ms;
	transition: width 500ms;
	-webkit-transform: translate3d(0, 0, 0) skew(-20deg, 0deg);
	-moz-transform: translate3d(0, 0, 0) skew(-20deg, 0deg);
	-ms-transform: translate3d(0, 0, 0) skew(-20deg, 0deg);
	transform: translate3d(0, 0, 0) skew(-20deg, 0deg);
}
.gallery_item img {
	position: relative;
	-webkit-transform: translate3d(0, 0, 0) skew(20deg, 0deg);
	-moz-transform: translate3d(0, 0, 0) skew(20deg, 0deg);
	-ms-transform: translate3d(0, 0, 0) skew(20deg, 0deg);
	transform: translate3d(0, 0, 0) skew(20deg, 0deg);
}
//SECTION SLIDER END

//SECTION MAIN START
.main {
    background-color: #ededed;
    position: relative;
    &__button {
        display: none;
        position: sticky;
        width: 50px;
        height: 50px;
        border-radius: 25px;
        margin-left: 50px;
        background-color: #3c3c3b;
        top: 100px;
        z-index: 4;
    }
    &__quote {
        padding: 90px 20px 90px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    &__pic {
        margin-top: 90px;
    }
    &__pic img {
        width: 100%;
    }
    &__content {
        padding: 80px 20px 0 20px;
        &-title {
            text-transform: uppercase;
            font-size: 40px;
            position: relative;
        }
        // &-title:before {
        //     content: '';
        //     position: absolute;
        //     top: 0;
        //     left: -200px;
        //     height: 2px;
        //     width: 80px;
        //     background: #dadada;
        // }
        // &-title:after {
        //     content: '';
        //     position: absolute;
        //     top: 1px;
        //     left: -200px;
        //     height: 10px;
        //     width: 35px;
        //     background: #dadada;
        // }
        &-text {
            font-size: 20px;
            padding: 50px 0 50px 0;
            max-width: 560px;
            color: #575756;
        }
        &-text p {
            padding-bottom: 15px;
        }
    }
    &__about {
        display: flex;
        // justify-content: space-between;
        justify-content: space-around;
        flex-wrap: wrap;
    }

}
.quote__text {
    text-align: center;
    max-width: 1080px;
    text-transform: uppercase;
    font-size: 40px;
}
.quote__author {
    padding-top: 30px;
    font-size: 20px;
    color: #878787;
}

//SECTION MAIN END

//SECTION CLASSES START
.classes {
    background-color: #ededed;
    &__title {
        text-transform: uppercase;
        text-align: center;
        font-size: 40px;
        padding: 90px 20px 90px 20px;
    }
    &__text {
        color: #575756;
        text-align: center;
        padding: 0 20px 0 20px;
    }
    &__text p:last-child {
        padding: 20px 0 100px 0;
    }
    &__block {
        background-color: #fff;
        max-width: 1320px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
.left__block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    &-title {
        font-size: 25px;
        line-height: 30px;
    }
    &-date {
        font-size: 35px;
    }
    &-place {
        font-size: 35px;
        line-height: 35px;
    }
    &-button {
        margin: 30px 0 30px 0;
        background-color: #00a19a;
        width: 300px;
        border: none;
        border-radius: 15px;
        padding: 25px;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
    }
    &-button:hover {
        opacity: 0.5;
        transition: all .5s ease-in-out;
    }
    &-price {
        font-size: 35px;
    }
    &-info {
        padding-top: 20px;
        color: #575756;
        font-size: 20px;
        max-width: 310px;
    }
}
.right__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &-section {
        border-left: 1px solid #c6c6c6;
    }
    
}
.block-title {
    position: relative;
    padding: 25px 5px 15px 5px;
    max-width: 150px;
    font-size: 25px;
    line-height: 25px;
}
.block-text {
    word-wrap: break-word;
    position: relative;
    text-align: left;
    padding-left: 15px;
    max-width: 150px;
    font-size: 19px;
    color: #575756;
}
.block-text:before {
    content: '';
    position: absolute;
    top: 11px;
    left: 7px;
    width: 3px;
    height: 3px;
    border-radius: 1.5px;
    background-color: #575756;
}
.future__classes {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    max-width: 1320px;
    margin: 100px auto;
    justify-content: space-around;
    font-size: 19px;
    &-when {
        text-transform: uppercase;
    }
    &-where {
        color: #b2b2b2;
    }
    &-program {
        position: relative;
        color: #00a19a;
    }
    &-program:hover {
        opacity: 0.5;
        transition: all .5s ease-in-out;
    }
    &-program:after {
        position: absolute;
        content: '';
        height: 1px;
        width: 100%;
        top: 22px;
        left: 0;
        background: #00a19a;
    }
    &-info {
        color: #00a19a;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 23px;
    }
}
.future__classes:before {
    content: '';
    position: absolute;
    background-color: #c6c6c6;
    height: 1px;
    width: 100%;
    top: -30px;
}
.future__classes:after {
    content: '';
    position: absolute;
    background-color: #c6c6c6;
    height: 1px;
    width: 100%;
    bottom: -20px;
}
//SECTION CLASSES END

//SECTION REPORT START
.prev {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    left: 15%;
    top: 50%;
}
.next {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    right: 15%;
    top: 50%;
}
.report {
    &__title {
        text-transform: uppercase;
        text-align: center;
        font-size: 40px;
        padding: 90px 20px 90px 20px;
    }
    &__slider {
        position: relative;
        display: flex;
        justify-content: center;
        &-item img{
            width: 100%;
            height: 100%;
        }
    }
    &__consulting {
        padding: 60px 0 60px 0;
        &-title {
            text-transform: uppercase;
            text-align: center;
            font-size: 40px;
            padding: 90px 20px 90px 20px;
        }
        &-text {
            color: #575756;
            text-align: center;
            padding: 0 20px 0 20px;
        }
        &-text p:nth-child(3) {
            padding-top: 20px;
        }
    }
}
//SECTION REPORT END

//SECTION CLIENTS START
.prev-2 {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    left: -5%;
    top: 40%;
}
.next-2 {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    right: -5%;
    top: 40%;
}
.clients {
    background-color: #ededed;
    &__title {
        text-transform: uppercase;
        text-align: center;
        font-size: 40px;
        padding: 90px 20px 90px 20px;
    }
    &__slider {
        position: relative;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        max-width: 1200px;
        &-item img{
            padding: 10px;
            width: 100%;
            cursor: pointer;
        }
    }
}
.works__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    & img {
        max-width: 480px;
        width: 100%;
        display: block;
        cursor: pointer;
    }
    & img:hover {
        transform: scale(1.2);
        transition: all ease-in-out .5s;
        border-radius: 20px;
    }
}
//SECTION CLIENTS END

//FOOTER START
.footer {
    &__contacts {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        &-title {
            text-transform: uppercase;
            text-align: center;
            font-size: 40px;
            padding: 60px 20px 60px 20px;
        }
        &-text {
            color: #575756;
            text-align: center;
            padding: 0 20px 0 20px;
            max-width: 640px;
        }
        &-text span {
            font-weight: 700;
            color: #000;
            text-decoration: underline;
        }
        &-text span:hover {
            opacity: 0.5;
            transition: all .5s ease-in-out;
        }
    }
    &__social {
        margin: 30px 0 30px 0;
    }
    &__social:hover {
        opacity: 0.5;
        transition: all .5s ease-in-out;
    }
}
//FOOTER END


@import "media";